.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-height: 100vh;
    border-color: lightgray;

    background-color: darkcyan;
}
#sidebar > hr {
    margin: 0;
    border-color: #aaa;
}

.sidebar-header {
    margin: 0 0.5em;
}

.sidebar-list {
    margin: 0;
}
.sidebar-list > a {
    text-decoration: none;
    color: initial;
}

.sidebar-item {
    color: lightblue;
    text-decoration: none;

    padding: 0.5em 2em;
    border-bottom: 0.05em solid silver;
    border-top: 0.001em solid silver;
}
.sidebar-item:hover {
    background-color: #009e9e;
}

.sidebar-item.disabled:hover {
    cursor: not-allowed;
}

.selectable:hover {
    cursor: pointer;
}

#content {
    width: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.panel {
    padding: 0.4em 0.8em;
}

table.table-unstyled {
}

table.table-styled {
    box-shadow: 0.1em 0.1em gray;
}

table.table-styled > tr {
    border: 0.02em solid gray;
}

th, td {
    padding: 0.2em 1em;
}

.table > tbody > tr > td.table-cell-middle {
    vertical-align: middle;
}

td.selectable:hover {
    background-color: lightsteelblue;
}

.link-unstyled {
    text-decoration: inherit;
    color: inherit;
}
.link-unstyled:hover {
    text-decoration: inherit;
    color: inherit;
}

.panel-default {
}

.row form {
    display: inline-block;
}
.dropdown-inline {
    display: inline-block;
}

.form-invisible {
    display: none;
}

.glyphicon {
    font-size: 1.5em;
    vertical-align: middle;
}
.glyphicon.control {
    margin: 0.25em;
    padding: 0.25em;
}
.glyphicon.selectable:hover {
    color: black;
}

.glyphicon.control.disabled  {
    color: grey;
}

.glyphicon.selectable.disabled:hover {
    color: grey;
    cursor: not-allowed;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-selectable {
    cursor: pointer;
    margin-left: 0.01em;
    margin-right: 0.01em;
}

input.slider {
    vertical-align: middle;
}

.input-group {
    margin: 0.2em 0;
}

.panel-control {
    background-color: ghostwhite;
    border-radius: 1em;
}

.btn.btn-small {
    padding: 0.08em 0.4em;
}

textarea.setting-value {
    height: 2em;
}

.teaser {
    border: 0.01em solid silver;
    box-shadow: #E0E0E0 0.1em 0.2em;
    margin: 0.4em 0.1em;
    padding: 0.8em 0.4em;
}

.teaser-loading {
    border-color: darkorange;
}

.teaser-error {
    border-color: darkred;
}

.teaser-title {
    margin: 0.5em 0;
}

.teaser-label {
    margin: 0.3em 0.2em;
}

.teaser-description-text {
    white-space: pre-line;
}

.alert-body {
    margin-bottom: 0.5em;
}

.alert-buttons {
    padding: 0.5em;
}