.unlocked {
    background-color: #2ab27b;
}

.locked_available {
    background-color: #2a88bd;
}

.locked_shared {
    background-color: #1f648b;
}

.locked_unavailable {
    background-color: red;
}

.locked_offline {
    background-color: slategray;
}